body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #2b2928;
}

#grid-canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
}
#bgCanvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 2;
}

.canvas-container {
  position: relative;
  margin: auto;
  background-image: url(public/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.neo-border {
  position: relative;
  background: #52504f;
  opacity: 1;
  color: #eee;
  padding: 2rem;
  clip-path: polygon(
    0% 0%,
    calc(100% - 30px) 0%,
    100% 30px,
    100% 100%,
    30px 100%,
    0% calc(100% - 30px)
  );
  overflow: hidden;
  border: 2px solid #333;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  margin: 20px auto;
  z-index: 1;
  /* futuristic font */
}

.neo-border h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 80px;
}

.spacer {
  width: 100%;
  height: 100vh;
  color: whitesmoke;
  padding: 20px;
  text-align: right;
}

.spline {
    max-width: 1000px;
    margin: auto;
}